<html>
<head>
    <%include meta.ejs%>

    <style>

        #main-content{
            min-height:500px;
        }
        #left-content{
            padding-left:0px;
        }
        #left-row{
            border-right:1px #dddddd dotted;
        }
        #my-collections{
            margin: 10px 0 0 0;
            padding: 0;
            list-style: none;
        }
        #my-collections li {
            position: relative;
            padding-bottom: 0px;
            font-size:16px;
            margin-bottom:2px;
        }

        #my-collections li .collection-name{
            width: 120px;
            display: inline-block;
        }

        #my-collections li .collection-ops{
            display: none;
            width: 56px;
            margin-right: 0px;
            height:17px;
        }

        #my-collections li .collection-ops button span{
            top:0px;

        }

        #my-collections .collection-hars{
            list-style:none;
            padding-left:0px;
            margin: 8px 0;
        }
        #my-collections .collection-hars a{
            font-size:14px;
            font-family: "News Cycle","Arial Narrow Bold",sans-serif;
            font-weight: 600;
            line-height: 20px;
            color: #000000;
            padding-left:0;
        }
        #my-collections .collection-hars span.badge{
            font-size:12px;
            vertical-align: 0px;
            background-color: #8C8A8A;
        }

        #my-collections a.my-collection-a {
            font-family: "News Cycle","Arial Narrow Bold",sans-serif;
            font-weight: 700;
            line-height: 20px;
            color: #000000;
            padding-left:0;
            display: block;
        }
        #my-collections li label{
            position: relative;
            margin-bottom:5px;
            padding-top:2px;
        }

        #harform{
            margin-left:15px;
        }

        #harform .glyphicon{
            top:3px;
        }
        #harform .form-control{
            height:30px;
        }

        #harform a{
            line-height: 30px;
            height: 30px;
            padding:0px;
        }

        #harform .no-border-input{
            border-top: 1px #FFF solid;
            border-left: 1px #FFF solid;
            border-right: 2px #FFF solid;
            margin-right:3px;
        }

        #harform .form-group.pair{
            width:100%;
        }

        #harform div[name=postData-text] p{
            width: 100%;
            font-size: 12px;
            margin-top: 6px;
        }

        #header-form, #cookie-form{
            display:none;
        }

        .row{
            margin-left:0px;
        }
        pre code{
            font-size:12px;
        }

        #top-ops{
            margin-bottom: 20px;
        }

        #bottom-ops{
            margin-top: 40px;
        }
    </style>
</head>

<body>

<%include header.ejs%>



<div class="container" id="main-content">
    <div class="row">
        <div class="col-md-2" id="left-row">

            <div class="row">
                <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
                    <h4 style="margin-top:0px;">Collections </h4>
                </div>
                <div class="col-md-3" style="padding-left: 0px;">
                    <span style="margin-top: 3px;" class="badge" id="collection-count-bage"><%=collections.length%></span>
                </div>
                <div class="col-md-1" style="padding-right: 0px;">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#createCollectionModal" style="margin-top: 3px;">
                        <span class="glyphicon glyphicon-plus-sign" style="top:0px;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>


            <div class="row" id="my-collections-area">
                <ul class="list" id="my-collections">
                    <% for(var k in collections){
                        var c = collections[k];
                    %>

                    <li id="my-collection-li-<%=c.collectionId%>" class="my-collection-li" data-id="<%=c.collectionId%>" data-name="<%=c.name%>">
                        <div class="collection-name">
                            <a data-id="<%=c.collectionId%>" href="javascript:void(0);" class="my-collection-a"><%=c.name||"-" %></a>
                        </div>

                        <div class="collection-ops">
                            <button type="button" data-id="<%=c.collectionId%>" class="btn btn-default btn-xs editCollection">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="edit"></span>
                            </button>

                            <button type="button" data-id="<%=c.collectionId%>" data-name="<%=c.name%>" class="btn btn-default btn-xs deleteCollection">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="delete"> </span>
                            </button>
                        </div>
                    </li>

                    <%}%>
                </ul>
            </div>



        </div>
        <div class="col-md-10" id="right-row">
            <div id="harform" data-page="moklr"></div>
            <!--<pre><code id="selected_har_code"></code></pre>-->

        </div>
    </div>
</div>




<%include footer.ejs%>
<%include profile-tpl.ejs%>
<%include modal-tpl.ejs%>

<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>

<script>
    $(document).ready(function() {
        Moklr.Profile.init();
    });

</script>


<script>
    $(document).ready(function(){


    });
</script>





</body>
</html>