<html>
<head>

    <meta charset="utf-8">
    <title>Mock Http Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Code+Pro:200,300,400,500,600,700,900"
          media="all">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a href="/">Mocklr</a>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/bin/create">Create Mocklr</a>
                </li>
                <li><a href="https://github.com/Mashape/mockbin/tree/master/docs">Docs</a>
                </li>
                <li><a href="https://github.com/Mashape/mockbin">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div data-page="bin/view" class="container">
    <div class="row">
        <div class="col-sm-9">
            <h3>Http Description: <code><%= uuid %></code></h3>

            <div id="preview">
                <pre><code class="hljs json"><%= body %></code></pre>
            </div>
        </div>
        <div class="col-sm-3">
            <h3>Other Ops</h3>
            <a href="#apiembed" class="btn btn-block btn-primary">
                <span class="badge">1</span>&nbsp;&nbsp;生成代码文件
            </a>
            <a href="/bin/<%= uuid %>" class="btn btn-block btn-primary">
                <span  class="badge">2</span>&nbsp;&nbsp;发送请求
            </a>
            <a href="/bin/<%= uuid %>/log" class="btn btn-block btn-primary">
                <span class="badge">3</span>&nbsp;&nbsp;->
            </a>
        </div>
    </div>
    <br>
    <h4 id="apiembed">Send Some Requests:</h4>
    <iframe src="http://localhost:8080/?source=http://localhost:8001/mock/<%= uuid %>/viewJson" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0" width="100%" height="550" seamless=""></iframe>
</div>


<script type="text/javascript">

    $(function () {
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    });

</script>


</body>
</html>